{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var table = $('#dt_accolade').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
        } );
    </script>
    <h4>Accolades</h4>
    <div>
        <table id="dt_accolade" class="table table-striped table-hover table-bordered align-middle" style="width:100%;">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Banner</td>
                </tr>
            </thead>
            <tbody>
                {% for accolade in accolades %}
                <tr>
                    <td>{{ accolade.display_name }}</td>
                    <td>{{ accolade.content }}</td>
                    <td><img src="/{{ accolade.banner_path }}" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
