{% include 'header.html' %}

    <script>
        var dt_options = {
            autoWidth: false,
            pageLength: 100,
            pagingType: 'numbers',
            responsive: true
        };

        $(document).ready( function () {
            var table = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
        } );
    </script>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
        <thead>
            <tr>
                <td>Asset Type</td>
            </tr>
        </thead>
        <tbody>
            {% for container_asset_type in asset_types %}
            <tr>
                <td><a href='/asset_container/{{ container_asset_type.container.replace('/', '___') }}/{{ container_asset_type.asset_type }}'>{{ container_asset_type.asset_type }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
