{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var dt_options = {
                autoWidth: false,
                pagingType: 'numbers',
                pageLength: 25,
                responsive: true,
                searchPanes: {
                    cascadePanes: true,
                    columns: [2,3,4],
                    controls: true,
                    collapse: true,
                    initCollapsed: true,
                    layout: 'auto',
                    orderable: false
                },
                buttons: [
                    {
                        text: 'Toggle Filters',
                        className: 'spToggle showPanes',
                        action: hideSearchPanes,
                    },
                ],
                dom: 'BPflrtip'
            };
        
            var table = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
            table.searchPanes.container().prependTo(table.table().container());
            table.searchPanes.resizePanes();
            hideSearchPanes(null, table, null, null);
        } );
    </script>
    <h4>Equipment</h4>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Icon</td>
                <td>Rank</td>
                <td>Category</td>
                <td>Type</td>
                <td>HP</td>
                <td>MP</td>
                <td>ATK</td>
                <td>DEF</td>
                <td>INT</td>
                <td>AGL</td>
                <td>MOV</td>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
            <tr>
                <td>
                    <a href="/equipment/{{ equipment.id }}">{{ equipment.equipment_display_name }}</a>
                </td>
                <td><img src="/{{ equipment.equipment_icon }}" style="width: 64px; height: 80px;" /></td>
                <td><span style="display: none">{{ equipment.equipment_rank }}</span><img src="/{{ equipment.equipment_rank_icon }}" alt="{{ equipment.equipment_rank }}" style="width: 64px; height: 64px;" /></td>
                <td>{{ equipment.equipment_category }}</td>
                <td>{{ equipment.equipment_type }}</td>
                <td>{{ equipment.equipment_status_increase.hp }}</td>
                <td>{{ equipment.equipment_status_increase.mp }}</td>
                <td>{{ equipment.equipment_status_increase.attack }}</td>
                <td>{{ equipment.equipment_status_increase.defence }}</td>
                <td>{{ equipment.equipment_status_increase.intelligence }}</td>
                <td>{{ equipment.equipment_status_increase.agility }}</td>
                <td>{{ equipment.equipment_status_increase.mobility }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
