{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var table = $('#dt').DataTable(dt_options);
            var table_acquirable = $('#dt_acquirable').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
            table_acquirable.columns.adjust().responsive.recalc();
        } );
    </script>
    <div class="row detailsbox">
        <div class="row text-center"><h4>Equipment Details</h4></div>
        <hr />
        <div class="col col-auto">
            <img src="/{{ equipment.equipment_icon }}" />
        </div>
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Name: </span>{{ equipment.equipment_display_name }}</li>
                <li><span style="font-weight: bold;">Description: </span>{{ equipment.equipment_description }}</li>
                <li><span style="font-weight: bold;">Type: </span>{{ equipment.equipment_type }}</li>
                <li><span style="font-weight: bold;">Category: </span>{{ equipment.equipment_category }}</li>
                <li><span style="font-weight: bold;">Rank: </span><img src='/{{ equipment.equipment_rank_icon }}' style='width: 32px; height: 32px;' /></li>
                <li><span style="font-weight: bold;">Alchemy Cost: </span>{{ equipment.equipment_alchemy_cost }}</li>
                <li><span style="font-weight: bold;">Is Free Alchemy: </span>{{ equipment.equipment_is_free_alchemy }}</li>
                <li>
                    <span style="font-weight: bold;">Equipable By Roles: </span>
                    {% if equipment.equipment_equipable_roles|length > 0 %}
                        {{ equipment.equipment_equipable_roles|join(', ') }}
                    {% else %}
                        All
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">HP: </span>{{ equipment.equipment_status_increase.hp }}</li>
                <li><span style="font-weight: bold;">MP: </span>{{ equipment.equipment_status_increase.mp }}</li>
                <li><span style="font-weight: bold;">ATK: </span>{{ equipment.equipment_status_increase.attack }}</li>
                <li><span style="font-weight: bold;">DEF: </span>{{ equipment.equipment_status_increase.defence }}</li>
                <li><span style="font-weight: bold;">INT: </span>{{ equipment.equipment_status_increase.intelligence }}</li>
                <li><span style="font-weight: bold;">AGL: </span>{{ equipment.equipment_status_increase.agility }}</li>
                <li><span style="font-weight: bold;">MOV: </span>{{ equipment.equipment_status_increase.mobility }}</li>
                {% if equipment.equipment_passive_skill.skill_name is defined %}
                <li><span style="font-weight: bold;">Passive Skill: </span><a href='/skill/passive_skill/{{ equipment.equipment_passive_skill.id }}'>{{ equipment.equipment_passive_skill.skill_name }}</a></li>
                {% endif %}
                {% if equipment.equipment_reaction_skill.skill_name is defined %}
                <li><span style="font-weight: bold;">Reaction Skill: </span><a href='/skill/reaction_skill/{{ equipment.equipment_reaction_skill.id }}'>{{ equipment.equipment_reaction_skill.skill_name }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr />
    <h4>Acquirable From</h4>
    <div>
        <table id="dt_acquirable" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                {% for location in location_table %}
                <tr>
                    <td>
                        {% if location.location_type == 'Stage' %}
                        <a href="/stage/{{location.location_id}}">
                            {% if location.location_area_group_name != None %}
                            {{ location.location_area_group_name }} - 
                            {% endif %}
                            {% if location.location_area_name != None %}
                            {{ location.location_area_name }} - 
                            {% endif %}
                            {{ location.location_name }}
                        </a>
                        {% elif location.location_type == 'Shop' %}
                        <a href="/shop/{{location.location_id}}">{{ location.location_name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ location.location_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <h4>Alchemy Rolls</h4>
    <div>
        <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Roll 1 Name</td>
                    <td>Roll 1 Description</td>
                    <td>Roll 1 Probability</td>
                    <td>Roll 1 Icon</td>
                    <td>Roll 2 Name</td>
                    <td>Roll 2 Description</td>
                    <td>Roll 2 Probability</td>
                    <td>Roll 2 Icon</td>
                    <td>Roll 3 Name</td>
                    <td>Roll 3 Description</td>
                    <td>Roll 3 Probability</td>
                    <td>Roll 3 Icon</td>
                </tr>
            </thead>
            <tbody>
                {% for x in range(0, equipment.equipment_alchemy_slots.slot_1|length) %}
                <tr>
                    <td><a href='/skill/passive_skill/{{ equipment.equipment_alchemy_slots.slot_1[x].passive_skill.id }}'>{{ equipment.equipment_alchemy_slots.slot_1[x].passive_skill.skill_name }}</a></td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_1[x].passive_skill.skill_description }}</td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_1[x].roll_probability }}%</td>
                    <td><img src="/{{ equipment.equipment_alchemy_slots.slot_1[x].passive_skill.skill_icon }}" style="width: 64px; height: 64px;" /></td>
                    <td><a href='/skill/passive_skill/{{ equipment.equipment_alchemy_slots.slot_2[x].passive_skill.id }}'>{{ equipment.equipment_alchemy_slots.slot_2[x].passive_skill.skill_name }}</a></td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_2[x].passive_skill.skill_description }}</td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_2[x].roll_probability }}%</td>
                    <td><img src="/{{ equipment.equipment_alchemy_slots.slot_2[x].passive_skill.skill_icon }}" style="width: 64px; height: 64px;" /></td>
                    {% if equipment.equipment_alchemy_slots.slot_3 is defined %}
                    {% if equipment.equipment_alchemy_slots.slot_3[x] is defined %}
                    <td><a href='/skill/passive_skill/{{ equipment.equipment_alchemy_slots.slot_3[x].passive_skill.id }}'>{{ equipment.equipment_alchemy_slots.slot_3[x].passive_skill.skill_name }}</a></td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_3[x].passive_skill.skill_description }}</td>
                    <td>{{ equipment.equipment_alchemy_slots.slot_3[x].roll_probability }}%</td>
                    <td><img src="/{{ equipment.equipment_alchemy_slots.slot_3[x].passive_skill.skill_icon }}" style="width: 64px; height: 64px;" /></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
