{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var dt = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            dt.columns.adjust().responsive.recalc().draw();
        } );

    </script>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%;">
        <thead>
            <tr>
                <td>Stage</td>
                <td>Units</td>
                <td>Notes</td>
                <td>Video</td>
            </tr>
        </thead>
        <tbody>
            {% for guide in guides %}
            <tr>
                <td>
                    <a href='/stage/{{ guide.stage_id }}'>{{ guide.stage_name }}</a>
                </td>
                <td>
                    <div class="row">
                        {% for unit in guide.units %}
                        <div class="col col-sm-auto d-flex align-items-end me-3" style="background-image: url('/{{ unit.unit_rank_background }}'); position: relative; width: 104px; height: 128px;">
                            {% if unit.awakening_icon != None %}
                            <span style="position: absolute; z-index: 99999;"><img src='/{{ unit.awakening_icon }}' /></span>
                            {% endif %}
                            <a href="/unit/{{ unit.unit_id }}">
                                <img src="/{{ unit.unit_icon }}" style="width: 90px; height: 118px; position: relative; right: 5px; top: -5px;" />
                            </a>
                    </div>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    {{ guide.notes }}
                </td>
                <td>
                    <iframe width="300" height="150" src="https://www.youtube.com/embed/{{ guide.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
