<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>DQT Database</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dragon Quest Tact - Database" />

        <script src="/static/js/jquery-3.7.0.min.js"></script>
        <script type="text/javascript" src="/static/js/staticlogo.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/fh-3.4.0/r-2.5.0/datatables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/fh-3.4.0/r-2.5.0/datatables.min.js"></script>

        <script>
        var dt_options = {
            autoWidth: false,
            pagingType: 'numbers',
            pageLength: 25,
            responsive: true
        };
        </script>

        <style type="text/css">
            .navbar_image {
                width: 185px;
                height: 53px;
                padding-left: 100px;
                padding-top: 35px;
                margin-bottom: 10px;
                box-sizing: content-box;
                font-size: 1.2em;
                color: #fff;
            }
            a {
                text-decoration: none;
            }
            .stage_banner {
                color:#3b2700;
                width: 512px;
                height: 144px;
                margin-bottom:10px;
                color:#3b2700;
                text-align: center;
                vertical-align: middle;
                padding-top: 65px;
            }
            .area_banner {
                color:#3b2700; 
                width: 512px;
                height: 144px;
                margin-bottom:10px;
                text-align: right;
                padding-top: 85px;
                padding-right:20px;
            }
            .banner_text {
                color:#ffffff;
                -webkit-text-stroke: 1px;
                -webkit-text-stroke-color: #000000;
                font-weight: bold;
                font-size: 1.3em;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="offcanvas offcanvas-start h-100 d-flex align-items-center justify-content-center" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-theme="dark">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Dracky Quest Tact Database</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-monsters-tab" data-bs-toggle="pill" data-bs-target="#pills-monsters" type="button" role="tab" aria-controls="pills-monsters" aria-selected="false">Monsters</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills" type="button" role="tab" aria-controls="pills-skills" aria-selected="false">Skills</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-items-tab" data-bs-toggle="pill" data-bs-target="#pills-items" type="button" role="tab" aria-controls="pills-items" aria-selected="false">Items</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-stages-tab" data-bs-toggle="pill" data-bs-target="#pills-stages" type="button" role="tab" aria-controls="pills-stages" aria-selected="false">Stages</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-shops-tab" data-bs-toggle="pill" data-bs-target="#pills-shops" type="button" role="tab" aria-controls="pills-shops" aria-selected="false">Shops</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-data-tab" data-bs-toggle="pill" data-bs-target="#pills-data" type="button" role="tab" aria-controls="pills-data" aria-selected="false">Data</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <a href="/"><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Home</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-monsters" role="tabpanel" aria-labelledby="pills-monsters-tab">
                        <a href='/battleroad/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Battle Roads</div></a>
                        <a href='/farmable/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Farmables</div></a>
                        <a href='/rankup_calculator/'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Rank Up Calc</div></a>
                        <a href="/unit/"><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Units</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
                        <a href='/skill/active_skill/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Active Skills</div></a>
                        <a href='/skill/enemy_skill/'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Enemy Skills</div></a>
                        <a href='/skill/passive_skill/'><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Passive Skills</div></a>
                        <a href='/skill/reaction_skill/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Reaction Skills</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-items" role="tabpanel" aria-labelledby="pills-items-tab">
                        <a href='/equipment/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Equipment</div></a>
                        <a href='/item/'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Items</div></a>
                        <a href='/icon/'><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Icons</div></a>
                        <a href='/package/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Packages</div></a>
                        <a href='/accolade/'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Accolades</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-stages" role="tabpanel" aria-labelledby="pills-stages-tab">
                        <a href='/stage/category/1'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Story</div></a>
                        <a href='/stage/category/2'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Event</div></a>
                        <a href='/stage/category/4'><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Battle Road</div></a>
                        <a href='/stage/category/5'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Daily</div></a>
                        <a href='/stage/category/6'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;All Out Battle</div></a>
                        <a href='/stage/category/7'><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Hero Quest</div></a>
                        <a href='/stage/category/8'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Half Anni Battle</div></a>
                        <a href='/stage/category/9'><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Blossom Door</div></a>
                        <a href='/stage/category/10'><div class="navbar_image" style="background-image:url('/static/images/button3_2.png');">&nbsp;Large Battle</div></a>
                        <a href='/stage/category/11'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Mega Boss Battle</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-shops" role="tabpanel" aria-labelledby="pills-shops-tab">
                        <a href='/shop/'><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Shops</div></a>
                    </div>
                    <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
                        <a href="/asset_container/"><div class="navbar_image" style="background-image:url('/static/images/button1_2.png');">&nbsp;Raw Data</div></a>
                        <a href="/imagebrowser/"><div class="navbar_image" style="background-image:url('/static/images/button2_2.png');">&nbsp;Images</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="overflow-y: hidden; height: calc(100vh);">
            <nav class="navbar" style="padding: 0px; margin: 0px;">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="/static/images/drackyknowledge.png" alt="Dracky Knowledge" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
                    </a>
                </div>
            </nav>
            <div class="row flex-nowrap spinner-border" role="status" id="loading_spinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="row flex-nowrap">
                <div id="content-container" class="col col-sm-auto" style="overflow-y: scroll; height: calc(80vh); width: calc(100vw); display: none;">
