{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var table = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
        } );
    </script>
    <div class="row detailsbox">
        <div class="row text-center"><h4>Icon Details</h4></div>
        <hr />
        <div class="col col-auto">
            <img src="/{{ icon.icon_path }}" />
        </div>
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Name: </span>{{ icon.display_name }}</li>
            </ul>
        </div>
    </div>
    <hr />
    <h4>Acquirable From</h4>
    <div>
        <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                {% for location in location_table %}
                <tr>
                    <td>
                        {% if location.location_type == 'Stage' %}
                        <a href="/stage/{{location.location_id}}">
                            {% if location.location_area_group_name != None %}
                            {{ location.location_area_group_name }} - 
                            {% endif %}
                            {% if location.location_area_name != None %}
                            {{ location.location_area_name }} - 
                            {% endif %}
                            {{ location.location_name }}
                        </a>
                        {% elif location.location_type == 'Shop' %}
                        <a href="/shop/{{location.location_id}}">{{ location.location_name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ location.location_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
