<!DOCTYPE html>
<html>
    <head>
        <title>DQT Database</title>
    </head>
    <body>
        <table>
            <thead>
                  <tr>
                    <td>Asset Type</td>
                  </tr>
            </thead>
            <tbody>
                {% for asset_type in asset_types %}
                  <tr>
                    <td>
                        <a href='/asset_list/{{ asset_type }}'>{{ asset_type }}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>