{% include 'header.html' %}

<script>
    $(document).ready( function () {
        $('#loading_spinner').hide();
        $('#content-container').show();
    } );
</script>
<p>
    Click Professor Dracky above to show the navigation menu.
    <h4>Community Sites</h4>
    <a href=''>dqtact.site - Video Guides</a><br />
    <a href='https://game8.jp/dqtact'>Game 8</a><br />
    <a href='https://www.reddit.com/r/dragonquesttact'>Reddit</a>
</p>
<p>
    Peter was too lazy to learn Python, so I did 99% of the coding, but &lt;3 him anyways. -Artea
</p>
<img src='/static/images/dracky_spin.gif' />
{% include 'footer.html' %}
