{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            $('#loading_spinner').hide();
            $('#content-container').show();
        } );

        var rank_up_table = [];
        var current_materials = {};

        $.get( "/api/unit/rankup_calculator").done(function(data) { rank_up_table = data; });

        function calculate_materials() {
            var needed_materials = {};
            var gold_cost = 0;

            for(const unit of rank_up_table) {
                var id = unit['id'];
                var desired_id = '#d_' + id;
                var current_id = '#c_' + id;
                var desired_rank = $(desired_id).val();
                var current_rank = $(current_id).val();

                for(const rank of unit['rank_up_table']) {
                    var rank_number = rank['rank_number'];
                    var gold = rank['rank_gold_cost'];

                    if(rank_number > current_rank && rank_number <= desired_rank) {
                        gold_cost += gold;

                        for(const item of rank['rank_up_items']) {
                            var icon = item['item_icon'];
                            var name = item['item_name'];
                            var quantity = item['quantity'];
                            var key = name.replaceAll(' ', '_');

                            if(needed_materials[key] == undefined) {
                                needed_materials[key] = {};
                                needed_materials[key]['quantity'] = quantity;
                                needed_materials[key]['icon'] = icon;
                                needed_materials[key]['name'] = name;
                            } else {
                                needed_materials[key]['quantity'] += quantity;
                            }
                        }
                    }
                }

                if(gold_cost > 0) {
                    needed_materials['Gold'] = {};
                    needed_materials['Gold']['quantity'] = gold_cost;
                    needed_materials['Gold']['icon'] = 'static/dqt_images/assets/aiming/textures/gui/general/icon/consumableitem/CI_G_01.png';
                    needed_materials['Gold']['name'] = 'Gold';
                }
            }

            Object.keys(needed_materials).sort().forEach((material) => {
                var key = material;
                var id = 'h_' + key;
                var val = $('#' + id).val();

                if(val == undefined || val == '') {
                    val = 0;
                }

                if(current_materials[key] == undefined) {
                    current_materials[key] = {};
                }

                current_materials[key] = val;
            });

            var html = '<table class="table table-striped table-bordered"><thead class="table-dark">';

            Object.keys(needed_materials).sort().forEach((material) => {
                html += '<td class="text-center">' + needed_materials[material]['name'] + '</td>';
            });

            html += '</thead><tbody><tr>';

            Object.keys(needed_materials).sort().forEach((material) => {
                html += '<td class="text-center"><img style="width: 64px; height: 64px;" src="' + needed_materials[material]['icon'] + '" /></td>';
            });

            html += '</tr><tr>';

            Object.keys(needed_materials).sort().forEach((material) => {
                html += '<td class="text-center">' + needed_materials[material]['quantity'] + '</td>';
            });

            html += '</tr><tr>';

            Object.keys(needed_materials).sort().forEach((material) => {
                html += '<td class="text-center"><input onblur="calculate_materials()" type="text" placeholder="Currently Have" id="h_' + needed_materials[material]['name'].replaceAll(' ', '_') + '" name="h_' + needed_materials[material]['name'].replaceAll(' ', '_') + '" class="form-control" /></td>';
            });

            html += '</tr><tr>';

            Object.keys(needed_materials).sort().forEach((material) => {
                html += '<td class="text-center" id="t_' + needed_materials[material]['name'].replaceAll(' ', '_') + '">';
            });

            html += '</tr></table>';

            $('#calculator_results').html(html);

            Object.keys(current_materials).forEach((material) => {
                var current_qty = current_materials[material];
                $('#h_' + material).val(current_qty);

                if(needed_materials[material] != undefined) {
                    var needed_qty = needed_materials[material]['quantity'];

                    if(current_qty == undefined || current_qty == '') {
                        current_qty = 0;
                    }

                    var net_qty = needed_qty - current_qty;
                    var html = '<span class="text-center">' + net_qty + '</span>';

                    $('#t_' + material).html(html);
                }
            });
        }

        function saveForm() {
            var form_data = JSON.stringify($('#calculator_form').serializeArray());
            var base64_encoded_data = btoa(form_data);

            localStorage.setItem('rank_up_calculator', base64_encoded_data);
        }

        function loadForm() {
            var base64_encoded_data = localStorage.getItem('rank_up_calculator');

            if(base64_encoded_data == undefined || base64_encoded_data == '') {
                return
            }

            var data = JSON.parse(atob(base64_encoded_data));

            Object.keys(data).forEach((key) => {
                var field = data[key].name;
                var val = data[key].value;

                if(field.substring(0,1) != 't') {
                    $('#' + field).val(val);
                }
            });

            calculate_materials();

            Object.keys(data).forEach((key) => {
                var field = data[key].name;
                var val = data[key].value;

                $('#' + field).val(val);
            });

            calculate_materials();
        }

    </script>
    <div>
        <button type="button" class="btn btn-primary" onclick="saveForm()">Save Data</button>
        <button type="button" class="btn btn-primary" onclick="loadForm()">Load Data</button>
    </div>
    <form name="calculator_form" id="calculator_form">
    <div id="calculator_results" class="sticky-top" style="background-color: #ffffff; overflow-y: scroll;">

    </div>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
        <thead>
            <tr>
                <td>Icon</td>
                <td>Name</td>
                <td>Unit Rank</td>
                <td>Family</td>
                <td>Current Rank</td>
                <td>Desired Rank</td>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            <tr>
                <td>
                    <a href="/unit/{{ unit.id }}">
                        <img src="/{{ unit.unit_icon }}" style="width: 64px; height: 80px;" />
                    </a>
                </td>
                <td>{{ unit.display_name }}</td>
                <td><span style="display: none">{{ unit.unit_rank }}</span><img src="/{{ unit.unit_rank_icon }}" alt="{{ unit.unit_rank }}" style="width: 64px; height: 64px;" /></td>
                <td><span style="display: none">{{ unit.family }}</span><img src="/{{ unit.family_icon }}" alt="{{ unit.family }}" style="width: 64px; height: 64px;" /></td>
                <td>
                    <select id="c_{{unit.id}}" name="c_{{unit.id}}" onchange="calculate_materials()" class="form-control">
                        <option value="0">0</option>
                        {% for rank in unit.rank_up_table %}
                        <option value="{{ rank.rank_number }}">{{ rank.rank_number }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="d_{{unit.id}}" name="d_{{unit.id}}" onchange="calculate_materials()" class="form-control">
                        <option value="0">0</option>
                        {% for rank in unit.rank_up_table %}
                        <option value="{{ rank.rank_number }}">{{ rank.rank_number }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>

{% include 'footer.html' %}
