{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var table = $('#dt_shop').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
        } );
    </script>
    <h4>Shops</h4>
    <div>
        <table id="dt_shop" class="table table-striped table-hover table-bordered align-middle" style="width:100%;">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Quantity</td>
                    <td>Purchasable Count</td>
                    <td>Cost</td>
                    <td>Icon</td>
                </tr>
            </thead>
            <tbody>
                {% for shop_good in shop_goods %}
                <tr>
                    <td>{{ shop_good.list_order }}</td>
                    <td>
                        {% if shop_good.goods_category == 'item' %}
                        <a href="/item/{{ shop_good.goods_path }}">
                        {% elif shop_good.goods_category == 'monster' %}
                        <a href="/unit/{{ shop_good.goods_path }}">
                        {% elif shop_good.goods_category == 'equipment' %}
                        <a href="/equipment/{{ shop_good.goods_path }}">
                        {% elif shop_good.goods_category == 'package' %}
                        <a href="/package/{{ shop_good.goods_path }}">
                        {% elif shop_good.goods_category == 'profile_icon' %}
                        <a href="/icon/{{ shop_good.goods_path }}">
                        {% endif %}
                        {{ shop_good.goods_name }}
                        </a>
                    </td>
                    <td>{{ shop_good.goods_description }}</td>
                    <td>{{ shop_good.quantity }}</td>
                    <td>{{ shop_good.purchasable_count }}</td>
                    <td>{{ shop_good.goods_cost }}</td>
                    <td><img src="/{{ shop_good.goods_image }}" style="width: 64px; height: 64px;" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
