{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            {% if skill.type_of_skill == 'active_skill' or skill.type_of_skill == 'enemy_skill' %}
            var enhancement_table = $('#dt_skill_enhancements').DataTable(dt_options);
            {% endif %}
            var learned_by_table = $('#dt_learned_by').DataTable(dt_options);
            var equipment_table = $('#dt_equipment').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            {% if skill.type_of_skill == 'active_skill' or skill.type_of_skill == 'enemy_skill' %}
            enhancement_table.columns.adjust().responsive.recalc();
            {% endif %}
            learned_by_table.columns.adjust().responsive.recalc();
            equipment_table.columns.adjust().responsive.recalc();
            {% if skill.type_of_skill == 'reaction_skill' %}
            var dt_status_effects = $('#dt_status_effects').DataTable(dt_options);
            dt_status_effects.on('draw', function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $('[data-toggle="tooltip"]').tooltip();
            {% endif %}
        } );
    </script>
    {% if skill.type_of_skill == 'active_skill' or skill.type_of_skill == 'enemy_skill' %}
    <div class="row detailsbox">
        <div class="row text-center"><h4>Skill Details</h4></div>
        <hr />
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Name: </span>{{ skill.skill_name }}</li>
                <li><span style="font-weight: bold;">Description: </span>{{ skill.skill_description }}</li>
                <li><span style="font-weight: bold;">Reach: </span>{{ skill.skill_reach }}</li>
                <li><span style="font-weight: bold;">MP Cost: </span>{{ skill.skill_mp_cost }}</li>
                <li><span style="font-weight: bold;">Related Status Effect Name: </span>{{ skill.skill_status_effect_parameter_name }}</li>
                <li><span style="font-weight: bold;">Rank: </span><img src="/{{ skill.skill_rank_icon }}" style="width: 32px; height: 32px;" /></li>
                <li><span style="font-weight: bold;">Range: </span><img src="/{{ skill.skill_range_icon }}" style="width: 64px; height: 64px;" /></li>
                <li><span style="font-weight: bold;">Element: </span><img src="/{{ skill.skill_element_icon }}" style="width: 32px; height: 32px;" /></li>
            </ul>
        </div>
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Disruptive Wave Immune: </span>{{ skill.skill_wave_immune }}</li>
                <li><span style="font-weight: bold;">Ignores Damage Reduction: </span>{{ skill.skill_ignores_damage_reduction }}</li>
                <li><span style="font-weight: bold;">Ignores Death Save: </span>{{ skill.skill_ignore_death_endurance }}</li>
                <li><span style="font-weight: bold;">Ignores Reflect: </span>{{ skill.skill_ignore_reflect }}</li>
                <li><span style="font-weight: bold;">Ignores Spell Nullify: </span>{{ skill.skill_ignore_spell_invalid }}</li>
                <li><span style="font-weight: bold;">Is Surehit: </span>{{ skill.skill_surehit }}</li>
                <li><span style="font-weight: bold;">Is Swap Skill: </span>{{ skill.skill_is_swap_skill }}</li>
                <li><span style="font-weight: bold;">Is Special Skill: </span>{{ skill.skill_is_special }}</li>
                <li><span style="font-weight: bold;">Times Available: </span>{{ skill.skill_times_available }}</li>
                <li><span style="font-weight: bold;">Turns Needed: </span>{{ skill.skill_turns_needed }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Number Hits: </span>{{ skill.skill_num_attacks }}</li>
                <li><span style="font-weight: bold;">Hits Random Targets: </span>{{ skill.skill_is_random_target }}</li>
                <li><span style="font-weight: bold;">Base Damage: </span>{{ skill.skill_base_damage }}</li>
                <li><span style="font-weight: bold;">Min Damage: </span>{{ skill.skill_min_damage }}</li>
                <li><span style="font-weight: bold;">Max Damage: </span>{{ skill.skill_max_damage }}</li>
                <li><span style="font-weight: bold;">Multiplier: </span>{{ skill.skill_multiplier }}</li>
                <li><span style="font-weight: bold;">Threshold of Intelligence: </span>{{ skill.skill_threshold_of_intelligence }}</li>
                <li><span style="font-weight: bold;">Threshold of Attack: </span>{{ skill.skill_threshold_of_attack }}</li>
                <li>
                    <span style="font-weight: bold;">Active Skill Type: </span>
                    {% if skill.skill_type == '1' %}
                        Physical
                    {% elif skill.skill_type == '3' %}
                        Martial
                    {% elif skill.skill_type == '4' %}
                        Spell
                    {% elif skill.skill_type == '5' %}
                        Breath
                    {% else %}
                        Other
                    {% endif %}
                </li>
                {% if skill.skill_type == '4' %}
                {% if skill.skill_multiplier > 0 %}
                {% set ns_damage_constant = namespace(damage_constant=skill.skill_min_damage - (skill.skill_multiplier / 100) * skill.skill_threshold_of_intelligence) %}
                {% set ns_wisdom_cap = namespace(wisdom_cap=((skill.skill_max_damage - skill.skill_min_damage) / (skill.skill_multiplier / 100)) + skill.skill_threshold_of_intelligence) %}
                <li><span style="font-weight: bold;">Damage Constant: {{ ns_damage_constant.damage_constant|round(2) }}</span></li>
                <li><span style="font-weight: bold;">Wisdom Cap: {{ ns_wisdom_cap.wisdom_cap|round(2) }}</span></li>
                {% endif %}
                {% endif %}
                <!--
                <li><span style="font-weight: bold;">Action Type: </span>{{ skill.skill_action_type }}</li>
                <li><span style="font-weight: bold;">Target Type: </span>{{ skill.skill_target_type }}</li>
                <li><span style="font-weight: bold;">Damage Calculation Type: </span>{{ skill.skill_damage_calculation_type }}</li>
                -->
            </ul>
        </div>
    </div>
    <hr />
    <h4>Skill Enhancements</h4>
    <div>
        <table id="dt_skill_enhancements" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Level</td>
                    <td>Max Accumulation</td>
                    <td>Required MP Reduction</td>
                    <td>Damage Increase Multiplier</td>
                    <td>Damage Increase Value</td>
                    <td>Healing Increase Multiplier</td>
                    <td>Healing Increase Value</td>
                    <td>MP Damage Increase Multiplier</td>
                    <td>MP Damage Increase Value</td>
                    <td>MP Healing Increase Multiplier</td>
                    <td>MP Healing Increase Value</td>
                    <td>Accuracy Increase</td>
                    <td>Status Effect Accuracy Increase</td>
                    <td>Status Change Accuracy Increase</td>
                    <td>Status Effect Duration Increase</td>
                    <td>Status Change Duration Increase</td>
                </tr>
            </thead>
            <tbody>
                {% for skill_enhancement in skill.skill_enhancements %}
                <tr>
                    <td>{{ skill_enhancement.enhancement_level }}</td>
                    <td>{{ skill_enhancement.enhancement_max_accumulation }}</td>
                    <td>{{ skill_enhancement.enhancement_required_mp_reduction }}</td>
                    <td>{{ skill_enhancement.enhancement_damage_increase_multiplier }}</td>
                    <td>{{ skill_enhancement.enhancement_damage_increase_static_addition }}</td>
                    <td>{{ skill_enhancement.enhancement_healing_increase_multiplier }}</td>
                    <td>{{ skill_enhancement.enhancement_healing_increase_static_addition }}</td>
                    <td>{{ skill_enhancement.enhancement_mp_damage_increase_multiplier }}</td>
                    <td>{{ skill_enhancement.enhancement_mp_damage_increase_static_addition }}</td>
                    <td>{{ skill_enhancement.enhancement_mp_healing_increase_multiplier }}</td>
                    <td>{{ skill_enhancement.enhancement_mp_healing_increase_static_addition }}</td>
                    <td>{{ skill_enhancement.enhancement_accuracy_increase }}</td>
                    <td>{{ skill_enhancement.enhancement_abnormity_accuracy_increase }}</td>
                    <td>{{ skill_enhancement.enhancement_status_change_accuracy_increase }}</td>
                    <td>{{ skill_enhancement.enhancement_abnormity_duration_increase }}</td>
                    <td>{{ skill_enhancement.enhancement_status_change_duration_increase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if skill.type_of_skill == 'passive_skill' %}
    <div>
        <div class="row detailsbox">
            <div class="row text-center"><h4>Skill Details</h4></div>
            <hr />
            <div class="col">
                <ul class="slimelist">
                    <li><span style="font-weight: bold;">Name: </span>{{ skill.skill_name }}</li>
                    <li><span style="font-weight: bold;">Description: </span>{{ skill.skill_description }}</li>
                    <li><span style="font-weight: bold;">Is Invisible: </span>{{ skill.skill_is_invisible }}</li>
                    <li><span style="font-weight: bold;">Is PVE Only: </span>{{ skill.skill_is_pve_only }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% if skill.type_of_skill == 'reaction_skill' %}
    <div class="row detailsbox">
        <div class="row text-center"><h4>Skill Details</h4></div>
        <hr />
        <div class="col">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Name: </span>{{ skill.skill_name }}</li>
                <li><span style="font-weight: bold;">Description: </span>{{ skill.skill_description }}</li>
                {% if skill.skill_related_active_skill_id != None %}
                <li>
                    <span style="font-weight: bold;">Related Skill: </span>
                    <a href='/skill/active_skill/{{ skill.skill_related_active_skill_id }}'>{{ skill.skill_related_active_skill_name }}</a>
                </li>
                {% endif %}
                <li><span style="font-weight: bold;">Times Available: </span>{{ skill.skill_times_available }}</li>
                <li><span style="font-weight: bold;">Accuracy: </span>{{ skill.skill_accuracy }}</li>
                <li><span style="font-weight: bold;">Reaction Target: </span>{{ skill.skill_reaction_target }}</li>
                <li><span style="font-weight: bold;">Multiple Activations Consecutively: </span>{{ skill.skill_multiple_activation_to_same_target }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Triggers On Enemy Attack: </span>{{ skill.skill_attacker_is_enemy }}</li>
                <li><span style="font-weight: bold;">Triggers On Self Attack: </span>{{ skill.skill_attacker_is_self }}</li>
                <li><span style="font-weight: bold;">Triggers On Ally Attack: </span>{{ skill.skill_attacker_is_ally }}</li>
                <li><span style="font-weight: bold;">Triggers On Enemy Attacked: </span>{{ skill.skill_receiver_is_enemy }}</li>
                <li><span style="font-weight: bold;">Triggers On Self Attacked: </span>{{ skill.skill_receiver_is_self }}</li>
                <li><span style="font-weight: bold;">Triggers On Ally Attacked: </span>{{ skill.skill_receiver_is_ally }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Is Invisible: </span>{{ skill.skill_is_invisible }}</li>
                <li><span style="font-weight: bold;">Is PVE Only: </span>{{ skill.skill_is_pve_only }}</li>
                <li><span style="font-weight: bold;">Is Activated By Damage: </span>{{ skill.skill_is_activated_by_damage }}</li>
                <li><span style="font-weight: bold;">Is Activated By Healing: </span>{{ skill.skill_is_activated_by_recovery }}</li>
                <li><span style="font-weight: bold;">Is Activated By Status Effect: </span>{{ skill.skill_is_activated_by_abnormity }}</li>
                <li><span style="font-weight: bold;">Is Activated By Death: </span>{{ skill.skill_is_activated_by_death }}</li>
                <li><span style="font-weight: bold;">Is Re-Reactionable: </span>{{ skill.skill_is_re_reactionable }}</li>
                {% if skill.skill_applicable_abnormity_types|length > 0 %}
                <li><span style="font-weight: bold;">Applicable Status Effects: </span>
                    <hr />
                    <div class="row align-items-start">
                        {% for skill_applicable_abnormity_type in skill.skill_applicable_abnormity_types %}
                        <div class="col col-sm-auto">
                            <img src='/{{ skill_applicable_abnormity_type.icon }}' data-toggle="tooltip" data-placement="bottom" title="{{ skill_applicable_abnormity_type.name }}" />
                        </div>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% endif %}

    <hr />
    <h4>Learned By</h4>
    <div>
        <table id="dt_learned_by" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <td>Name</td>
                <td>Icon</td>
                <td>Type</td>
            </thead>
            <tbody>
                {% for unit in skill_learned_by %}
                <tr>
                    <td>
                        {% if unit.unit_type == 'Enemy Monster' %}
                        <a href='/enemy_monster/{{ unit.unit_id }}'>{{ unit.unit_name }}</a>
                        {% else %}
                        <a href='/unit/{{ unit.unit_id }}'>{{ unit.unit_name }}</a>
                        {% endif %}
                    </td>
                    <td><img src="/{{ unit.unit_icon }}" style="width: 64px; height: 64px;" /></td>
                    <td>{{ unit.unit_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />
    <h4>Equipment With Skill</h4>
    <div>
        <table id="dt_equipment" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <td>Name</td>
                <td>Icon</td>
            </thead>
            <tbody>
                {% for equipment in skill_equipment_cache %}
                <tr>
                    <td><a href='/equipment/{{ equipment.equipment_id }}'>{{ equipment.equipment_name }}</a></td>
                    <td><img src="/{{ equipment.equipment_icon }}" style="width: 64px; height: 64px;" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
