{% include 'header.html' %}
        <script>
            $(document).ready( function () {
                $('#dt_active_skills').DataTable();
                $('#dt_enemy_skills').DataTable();
                $('#dt_passive_skills').DataTable();
                $('#dt_reaction_skills').DataTable();
            } );
        </script>
        <h4>Active Skills</h4>
        <div>
            <table id="dt_active_skills">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Rank</td>
                        <td>Range</td>
                        <td>Reach</td>
                        <td>Element</td>
                        <td>Surehit</td>
                        <td># Hits</td>
                        <td>MP</td>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in active_skills %}
                    <tr>
                        <td>{{ skill.skill_name }}</td>
                        <td>{{ skill.skill_description }}</td>
                        <td>{{ skill.skill_rank }}</td>
                        <td><img src="/{{ skill.skill_range_icon }}" style="width: 64px; height: 64px;" /></td>
                        <td>{{ skill.skill_reach }}</td>
                        <td><img src="/{{ skill.skill_element_icon }}" style="width: 64px; height: 64px;" /></td>
                        <td>{{ skill.skill_surehit }}</td>
                        <td>{{ skill.skill_num_attacks }}</td>
                        <td>{{ skill.skill_mp_cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <h4>Enemy Skills</h4>
        <div>
            <table id="dt_enemy_skills">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Rank</td>
                        <td>Range</td>
                        <td>Reach</td>
                        <td>Element</td>
                        <td>Surehit</td>
                        <td># Hits</td>
                        <td>MP</td>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in enemy_skills %}
                    <tr>
                        <td>{{ skill.skill_name }}</td>
                        <td>{{ skill.skill_description }}</td>
                        <td>{{ skill.skill_rank }}</td>
                        <td><img src="/{{ skill.skill_range_icon }}" style="width: 64px; height: 64px;" /></td>
                        <td>{{ skill.skill_reach }}</td>
                        <td><img src="/{{ skill.skill_element_icon }}" style="width: 64px; height: 64px;" /></td>
                        <td>{{ skill.skill_surehit }}</td>
                        <td>{{ skill.skill_num_attacks }}</td>
                        <td>{{ skill.skill_mp_cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <h4>Passive Skills</h4>
        <div>
            <table id="dt_passive_skills">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in passive_skills %}
                    <tr>
                        <td>{{ skill.skill_name }}</td>
                        <td>{{ skill.skill_description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <h4>Reaction Skills</h4>
        <div>
            <table id="dt_reaction_skills">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Times Available</td>
                        <td>Accuracy</td>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in reaction_skills %}
                    <tr>
                        <td>{{ skill.skill_name }}</td>
                        <td>{{ skill.skill_description }}</td>
                        <td>{{ skill.skill_times_available }}</td>
                        <td>{{ skill.skill_accuracy }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% include 'footer.html' %}
