{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var collapsedGroups = {};
            var dt_drop_options = {
                autoWidth: false,
                paging: false,
                responsive: true,
                columnDefs: [
                    {
                        target: 6,
                        visible: false,
                        searchable: false
                    },
                    {
                        target: 7,
                        visible: false,
                        searchable: false
                    }
                ],
                rowGroup: {
                    dataSrc: 6,
                    startRender: function(rows, group) {
                        let average = rows.data().pluck(7)[0];
                        let collapsed = !collapsedGroups[group];
                        let collapsed_text = collapsed ? 'Expand</button>' : 'Collapse</button>';

                        rows.nodes().each(function (r) {
                            r.style.display = collapsed ? 'none' : '';
                        });

                        return $('<tr/>')
                            .append(
                                '<td colspan="6">' +
                                group +
                                '<span style="float: right">Average: ' + average +
                                '<button class="ms-3 btn btn-primary" type="button">' +
                                '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/></svg>' +
                                collapsed_text +
                                '</span>' +
                                '</td>'
                            )
                            .attr('data-name', group)
                            .toggleClass('collapsed', collapsed);
                    }
                }
            };

            var dt_drops = $('#dt_drops').DataTable(dt_drop_options);
            var dt_missions = $('#dt_missions').DataTable(dt_options);
            var dt_enemies = $('#dt_enemies').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            dt_drops.columns.adjust().responsive.recalc();
            dt_missions.columns.adjust().responsive.recalc();
            dt_enemies.columns.adjust().responsive.recalc();
            dt_drops.order([6, 'asc']).draw();

            $('#dt_drops tbody').on('click', 'tr.dtrg-start', function () {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
                dt_drops.draw();
            });
        } );
    </script>
    <div class="row detailsbox">
        <div class="row text-center"><h4>Stage Details</h4></div>
        <hr />
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Name: </span>{{ stage.stage_display_name }}</li>
                <li><span style="font-weight: bold;">Sub Name: </span>{{ stage.stage_sub_display_name }}</li>
                <li><span style="font-weight: bold;">Difficulty: </span>{{ stage.stage_difficulty }}</li>
                <li><span style="font-weight: bold;">Recommended CP: </span>{{ stage.stage_recommended_cp }}</li>
                <li><span style="font-weight: bold;">Stamina Cost: </span>{{ stage.stage_stamina_cost }}</li>
                <li><span style="font-weight: bold;">Talent Points: </span>{{ stage.stage_talent_point_gain }}</li>
            </ul>
        </div>
        <div class="col col-auto">
            <ul class="slimelist">
                <li><span style="font-weight: bold;">Is Boss Stage: </span>{{ stage.stage_is_boss_stage }}</li>
                <li><span style="font-weight: bold;">Is Story Stage: </span>{{ stage.stage_is_story_stage }}</li>
                <li><span style="font-weight: bold;">Is Auto Only: </span>{{ stage.stage_is_auto_only }}</li>
                {% if stage.stage_is_limited_total_weight %}
                <li><span style="font-weight: bold;">Weight Limit: </span>{{ stage.stage_limited_total_weight }}</li>
                {% endif %}
                {% if stage.stage_is_organization_limit_num %}
                <li><span style="font-weight: bold;">Unit Limit: </span>{{ stage.stage_organization_limit_num }}</li>
                {% endif %}
                <li><span style="font-weight: bold;">Show In Guild Feed On Clear: </span>{{ stage.stage_is_send_feed_when_first_cleared }}</li>
                <li><span style="font-weight: bold;">Score Challenge Stage: </span>{{ stage.stage_enable_score_challenge }}</li>
            </ul>
        </div>
    </div>
    <hr />
    <h4>Loot</h4>
    <div>
        <table id="dt_drops" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Drop %</td>
                    <td>First Clear Only</td>
                    <td>Drop Monster</td>
                    <td>Icon</td>
                    <td>Display Name</td>
                    <td>Average</td>
                </tr>
            </thead>
            <tbody>
                {% for loot in stage.stage_formatted_loot_groups %}
                {% for source in stage.stage_formatted_loot_groups[loot].sources %}
                <tr>
                    <td>
                        {% if source.loot_type == 'consumable_item' %}
                        <a href="/item/{{ source.loot_path }}">
                        {% elif source.loot_type == 'monster' %}
                        <a href="/unit/{{ source.loot_path }}">
                        {% elif source.loot_type == 'equipment' %}
                        <a href="/equipment/{{ source.loot_path }}">
                        {% elif source.loot_type == 'profile_icon' %}
                        <a href="/icon/{{ source.loot_path }}">
                        {% endif %}
                        {{ loot }}
                        </a>
                    </td>
                    <td>{{ source.loot_quantity }}</td>
                    <td>{{ source.loot_drop_percent }}</td>
                    <td>{{ source.loot_first_clear_only }}</td>
                    <td>
                        {% if source.loot_source == 'monster' %}
                        <img src='/{{ source.loot_source_icon }}' style='width: 64px; height: 64px;' />
                        {% endif %}
                    </td>
                    <td>
                        {% if source.loot_icon != None %}
                        <img src='/{{ source.loot_icon }}' style='width: 64px; height: 64px;' />
                        {% endif %}
                    </td>
                    <td>{{ loot }}</td>
                    <td>{{ stage.stage_formatted_loot_groups[loot].average|round(2) }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <h4>Missions</h4>
    <div>
        <table id="dt_missions" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Reward</td>
                    <td>Quantity</td>
                    <td>Condition</td>
                    <td>Icon</td>
                </tr>
            </thead>
            <tbody>
                {% for stage_mission in stage.stage_missions %}
                <tr>
                    <td>
                        {% if stage_mission.reward_type == 'consumable_item' %}
                        <a href="/item/{{ stage_mission.reward_id }}">
                        {% elif stage_mission.reward_type == 'profile_icon' %}
                        <a href="/icon/{{ stage_mission.reward_id }}">
                        {% endif %}
                        {{ stage_mission.reward_display_name }}
                        {% if stage_mission.reward_type == 'consumable_item' %}
                        </a>
                        {% elif stage_mission.reward_type == 'profile_icon' %}
                        </a>
                        {% endif %}
                    </td>
                    <td>{{ stage_mission.reward_quantity }}</td>
                    <td>
                        {% for condition in stage_mission.stage_mission_conditions %}
                        {{ condition }}
                        {% endfor %}
                    </td>
                    <td>
                        <img src='/{{ stage_mission.reward_icon }}' style="width: 64px; height: 64px;" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr />
    <h4>Enemies</h4>
    <div>
        <table id="dt_enemies" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Drop %</td>
                    <td>Pop %</td>
                    <td>Level</td>
                    <td>HP</td>
                    <td>MP</td>
                    <td>ATK</td>
                    <td>DEF</td>
                    <td>INT</td>
                    <td>AGI</td>
                    <td>MOV</td>
                    <td>Icon</td>
                </tr>
            </thead>
            <tbody>
                {% for stage_enemy in stage.stage_enemies %}
                <tr>
                    <td><a href='/enemy_monster/{{ stage_enemy.monster.id }}'>{{ stage_enemy.monster.enemy_display_name }}</a></td>
                    <td>Fixed</td>
                    <td>{{ stage_enemy.monster.enemy_scout_probability }}%</td>
                    <td>100%</td>
                    <td>{{ stage_enemy.monster.enemy_level }}</td>
                    <td>{{ stage_enemy.monster.enemy_hp }}</td>
                    <td>{{ stage_enemy.monster.enemy_mp }}</td>
                    <td>{{ stage_enemy.monster.enemy_attack }}</td>
                    <td>{{ stage_enemy.monster.enemy_defense }}</td>
                    <td>{{ stage_enemy.monster.enemy_intelligence }}</td>
                    <td>{{ stage_enemy.monster.enemy_agility }}</td>
                    <td>{{ stage_enemy.monster.enemy_mobility }}</td>
                    <td>
                        <img src='/{{ stage_enemy.monster.enemy_unit_icon }}' style="width: 64px; height: 64px;" />
                    </td>
                </tr>
                {% endfor %}

                {% for stage_enemy in stage.stage_random_enemies %}
                <tr>
                    <td><a href='/enemy_monster/{{ stage_enemy.monster.id }}'>{{ stage_enemy.monster.enemy_display_name }}</a></td>
                    <td>Random</td>
                    <td>{{ stage_enemy.monster.enemy_scout_probability }}%</td>
                    <td>{{ stage_enemy.pop_percentage }}%</td>
                    <td>{{ stage_enemy.monster.enemy_level }}</td>
                    <td>{{ stage_enemy.monster.enemy_hp }}</td>
                    <td>{{ stage_enemy.monster.enemy_mp }}</td>
                    <td>{{ stage_enemy.monster.enemy_attack }}</td>
                    <td>{{ stage_enemy.monster.enemy_defense }}</td>
                    <td>{{ stage_enemy.monster.enemy_intelligence }}</td>
                    <td>{{ stage_enemy.monster.enemy_agility }}</td>
                    <td>{{ stage_enemy.monster.enemy_mobility }}</td>
                    <td>
                        <img src='/{{ stage_enemy.monster.enemy_unit_icon }}' style="width: 64px; height: 64px;" />
                    </td>
                </tr>
                {% endfor %}

                {% for stage_enemy in stage.stage_reinforcement_enemies %}
                <tr>
                    <td><a href='/enemy_monster/{{ stage_enemy.monster.id }}'>{{ stage_enemy.monster.enemy_display_name }}</a></td>
                    <td>Reinforcement</td>
                    <td>{{ stage_enemy.monster.enemy_scout_probability }}%</td>
                    <td>100%</td>
                    <td>{{ stage_enemy.monster.enemy_level }}</td>
                    <td>{{ stage_enemy.monster.enemy_hp }}</td>
                    <td>{{ stage_enemy.monster.enemy_mp }}</td>
                    <td>{{ stage_enemy.monster.enemy_attack }}</td>
                    <td>{{ stage_enemy.monster.enemy_defense }}</td>
                    <td>{{ stage_enemy.monster.enemy_intelligence }}</td>
                    <td>{{ stage_enemy.monster.enemy_agility }}</td>
                    <td>{{ stage_enemy.monster.enemy_mobility }}</td>
                    <td>
                        <img src='/{{ stage_enemy.monster.enemy_unit_icon }}' style="width: 64px; height: 64px;" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'footer.html' %}
