{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var dt_options = {
                autoWidth: false,
                pagingType: 'numbers',
                pageLength: 25,
                responsive: true,
                searchPanes: {
                    cascadePanes: true,
                    columns: [0,1],
                    controls: true,
                    collapse: true,
                    initCollapsed: true,
                    layout: 'auto',
                    orderable: false
                },
                buttons: [
                    {
                        text: 'Toggle Filters',
                        className: 'spToggle showPanes',
                        action: hideSearchPanes,
                    },
                ],
                dom: 'BPflrtip'
            };

            var table = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
            table.searchPanes.container().prependTo(table.table().container());
            table.searchPanes.resizePanes();
            hideSearchPanes(null, table, null, null);
        } );
    </script>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%">
        <thead>
            <tr>
                <td>Type</td>
                <td>Key</td>
                <td>Text</td>
                <td>Input</td>
            </tr>
        </thead>
        <tbody>
            {% for asset in untranslated_assets %}
            <tr>
                <td>{{ asset.filetype }}</td>
                <td>{{ asset.key }}</td>
                <td>{{ asset.string }}</td>
                <td>
                    <div>
                        <input class='form-control d-inline-block w-auto' type='text' data-path="{{ asset.path }}"/>
                        <button type="button" class="btn btn-primary d-inline-block w-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"></path>
                            </svg>
                            Save
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
