{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var dt_options = {
                autoWidth: false,
                pagingType: 'numbers',
                pageLength: 25,
                responsive: true,
                searchPanes: {
                    cascadePanes: true,
                    columns: [2,3,4,5,6,14,15],
                    controls: true,
                    collapse: true,
                    initCollapsed: true,
                    layout: 'auto',
                    orderable: false
                },
                buttons: [
                    {
                        text: 'Toggle Filters',
                        className: 'spToggle showPanes',
                        action: hideSearchPanes,
                    },
                ],
                dom: 'BPfrtip'
            };
            var table = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
            table.searchPanes.container().prependTo(table.table().container());
            table.searchPanes.resizePanes();
            hideSearchPanes(null, table, null, null);
        } );
    </script>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width: 100%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Icon</td>
                <td>Rank</td>
                <td>Family</td>
                <td>Role</td>
                <td>Farm</td>
                <td>Gacha</td>
                <td>LVL</td>
                <td>HP</td>
                <td>MP</td>
                <td>ATK</td>
                <td>DEF</td>
                <td>AGI</td>
                <td>INT</td>
                <td>MOV</td>
                <td>WEI</td>
                <td>#</td>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            <tr>
                <td><a href="/unit/{{ unit.id }}">{{ unit.display_name }}</a></td>
                <td><img src="/{{ unit.unit_icon }}" style="width: 64px; height: 80px;" /></td>
                <td><span style="display: none">{{ unit.unit_rank }}</span><img src="/{{ unit.unit_rank_icon }}" alt="{{ unit.unit_rank }}" style="width: 64px; height: 64px;" /></td>
                <td><span style="display: none">{{ unit.family }}</span><img src="/{{ unit.family_icon }}" alt="{{ unit.family }}" style="width: 64px; height: 64px;" /></td>
                <td><span style="display: none">{{ unit.role }}</span><img src="/{{ unit.role_icon }}" alt="{{ unit.role }}" style="width: 64px; height: 64px;" /></td>
                <td>{{ unit.is_quest_reward }}</td>
                <td>{{ unit.is_gacha_unit }}</td>
                <td>{{ unit.stats_by_level[-1:][0].level }}</td>
                <td>
                    {% set ns = namespace(hp=unit.stats_by_level[-1:][0].hp) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.hp = ns.hp + rank.stats_increase.hp %}
                    {% endfor %}
                    {{ ns.hp }}
                </td>
                <td>
                    {% set ns = namespace(mp=unit.stats_by_level[-1:][0].mp) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.mp = ns.mp + rank.stats_increase.mp %}
                    {% endfor %}
                    {{ ns.mp }}
                </td>
                <td>
                    {% set ns = namespace(attack=unit.stats_by_level[-1:][0].attack) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.attack = ns.attack + rank.stats_increase.attack %}
                    {% endfor %}
                    {{ ns.attack }}
                </td>
                <td>
                    {% set ns = namespace(defense=unit.stats_by_level[-1:][0].defense) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.defense = ns.defense + rank.stats_increase.defense %}
                    {% endfor %}
                    {{ ns.defense }}
                </td>
                <td>
                    {% set ns = namespace(agility=unit.stats_by_level[-1:][0].agility) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.agility = ns.agility + rank.stats_increase.agility %}
                    {% endfor %}
                    {{ ns.agility }}
                </td>
                <td>
                    {% set ns = namespace(intelligence=unit.stats_by_level[-1:][0].intelligence) %}
                    {% for rank in unit.rank_up_table %}
                    {% set ns.intelligence = ns.intelligence + rank.stats_increase.intelligence %}
                    {% endfor %}
                    {{ ns.intelligence }}
                </td>
                <td>{{ unit.move }}</td>
                <td>{{ unit.weight }}</td>
                <td>{{ unit.almanac_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
