{% include 'header.html' %}

    <script>
        var unit_data = [];

        $(document).ready( function () {
            var dt_options = {
                autoWidth: false,
                pagingType: 'numbers',
                pageLength: 25,
                responsive: true,
                columnDefs: [
                    {
                        target: 20,
                        visible: false,
                        searchable: false
                    }
                ],
                searchPanes: {
                    cascadePanes: false,
                    columns: [2,3,4,5,6,7,8,9,17,18],
                    controls: true,
                    collapse: true,
                    initCollapsed: true,
                    layout: 'auto',
                    orderable: false,
                    panes: [
                    {
                            header: 'Element Resistance',
                            options: [
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Io.png" data-toggle="tooltip" data-placement="bottom" title="Bang" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Bang'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Hyado.png" data-toggle="tooltip" data-placement="bottom" title="Crack" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Crack'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Mera.png" data-toggle="tooltip" data-placement="bottom" title="Frizz" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Frizz'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Gira.png" data-toggle="tooltip" data-placement="bottom" title="Sizz" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Sizz'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Bagi.png" data-toggle="tooltip" data-placement="bottom" title="Woosh" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Woosh'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/Spellcon_Dorma.png" data-toggle="tooltip" data-placement="bottom" title="Zam" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Zam'] > 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Dein.png" data-toggle="tooltip" data-placement="bottom" title="Zap" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Zap'] > 0; }} return false; }
                                },
                            ]
                        },
                        {
                            header: 'Element Weakness',
                            options: [
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Io.png" data-toggle="tooltip" data-placement="bottom" title="Bang" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Bang'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Hyado.png" data-toggle="tooltip" data-placement="bottom" title="Crack" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Crack'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Mera.png" data-toggle="tooltip" data-placement="bottom" title="Frizz" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Frizz'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Gira.png" data-toggle="tooltip" data-placement="bottom" title="Sizz" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Sizz'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Bagi.png" data-toggle="tooltip" data-placement="bottom" title="Woosh" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Woosh'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/Spellcon_Dorma.png" data-toggle="tooltip" data-placement="bottom" title="Zam" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Zam'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/commandpanel/skillselectionpanel/elementicon/SpellIcon_Dein.png" data-toggle="tooltip" data-placement="bottom" title="Zap" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Zap'] < 0; }} return false; }
                                },
                            ]
                        },
                        {
                            header: 'Status Resistance',
                            options: [
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Blindness.png" data-toggle="tooltip" data-placement="bottom" title="Blind" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Blind'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_BreathSeal.png" data-toggle="tooltip" data-placement="bottom" title="Breath Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Breath Lock'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Fascination.png" data-toggle="tooltip" data-placement="bottom" title="Charm" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Charm'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Confusion.png" data-toggle="tooltip" data-placement="bottom" title="Confusion" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Confusion'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Curse.png" data-toggle="tooltip" data-placement="bottom" title="Curse" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Curse'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_SlowMove.png" data-toggle="tooltip" data-placement="bottom" title="Slow" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Hobble'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_TechniqueSeal.png" data-toggle="tooltip" data-placement="bottom" title="Martial Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Martial Lock'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Paralysis.png" data-toggle="tooltip" data-placement="bottom" title="Paralysis" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Paralysis'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_PhysicsSeal.png" data-toggle="tooltip" data-placement="bottom" title="Physical Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Physical Lock'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Poison1.png" data-toggle="tooltip" data-placement="bottom" title="Poison" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Poison'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Sleep.png" data-toggle="tooltip" data-placement="bottom" title="Sleep" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Sleep'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_SpellSeal.png" data-toggle="tooltip" data-placement="bottom" title="Spell Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Spell Lock'] == 50; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Skip.png" data-toggle="tooltip" data-placement="bottom" title="Stun" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Stun'] == 50; }} return false; }
                                },
                            ]
                        },
                        {
                            header: 'Status Immunity',
                            options: [
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Blindness.png" data-toggle="tooltip" data-placement="bottom" title="Blind" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Blind'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_BreathSeal.png" data-toggle="tooltip" data-placement="bottom" title="Breath Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Breath Lock'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Fascination.png" data-toggle="tooltip" data-placement="bottom" title="Charm" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Charm'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Confusion.png" data-toggle="tooltip" data-placement="bottom" title="Confusion" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Confusion'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Curse.png" data-toggle="tooltip" data-placement="bottom" title="Curse" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Curse'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_SlowMove.png" data-toggle="tooltip" data-placement="bottom" title="Slow" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Hobble'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_TechniqueSeal.png" data-toggle="tooltip" data-placement="bottom" title="Martial Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Martial Lock'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Paralysis.png" data-toggle="tooltip" data-placement="bottom" title="Paralysis" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Paralysis'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_PhysicsSeal.png" data-toggle="tooltip" data-placement="bottom" title="Physical Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Physical Lock'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Poison1.png" data-toggle="tooltip" data-placement="bottom" title="Poison" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Poison'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Sleep.png" data-toggle="tooltip" data-placement="bottom" title="Sleep" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Sleep'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_SpellSeal.png" data-toggle="tooltip" data-placement="bottom" title="Spell Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Spell Lock'] == 100; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Skip.png" data-toggle="tooltip" data-placement="bottom" title="Stun" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Stun'] == 100; }} return false; }
                                },
                            ]
                        },
                        {
                            header: 'Status Weakness',
                            options: [
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Blindness.png" data-toggle="tooltip" data-placement="bottom" title="Blind" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Blind'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_BreathSeal.png" data-toggle="tooltip" data-placement="bottom" title="Breath Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Breath Lock'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Fascination.png" data-toggle="tooltip" data-placement="bottom" title="Charm" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Charm'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Confusion.png" data-toggle="tooltip" data-placement="bottom" title="Confusion" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Confusion'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Curse.png" data-toggle="tooltip" data-placement="bottom" title="Curse" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Curse'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_SlowMove.png" data-toggle="tooltip" data-placement="bottom" title="Slow" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Hobble'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_TechniqueSeal.png" data-toggle="tooltip" data-placement="bottom" title="Martial Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Martial Lock'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Paralysis.png" data-toggle="tooltip" data-placement="bottom" title="Paralysis" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Paralysis'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_PhysicsSeal.png" data-toggle="tooltip" data-placement="bottom" title="Physical Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Physical Lock'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Poison1.png" data-toggle="tooltip" data-placement="bottom" title="Poison" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Poison'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/StatusEffectIcon_Sleep.png" data-toggle="tooltip" data-placement="bottom" title="Sleep" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Sleep'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_SpellSeal.png" data-toggle="tooltip" data-placement="bottom" title="Spell Lock" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Spell Lock'] < 0; }} return false; }
                                },
                                {
                                    label: '<img style="float: left" src="/static/dqt_images/assets/aiming/textures/gui/general/battle/monsterstatus/statuseffect/SEIcon_Skip.png" data-toggle="tooltip" data-placement="bottom" title="Stun" />',
                                    value: function(rowData, rowIdx) { for(var unit in unit_data) { if(unit_data[unit].display_name === rowData[20]) { return unit_data[unit]['Stun'] < 0; }} return false; }
                                },
                            ]
                        },
                    ]
                },
                buttons: [
                    {
                        text: 'Toggle Filters',
                        className: 'spToggle showPanes',
                        action: hideSearchPanes,
                    },
                ],
                dom: 'BPflrtip'
            };
            var table = $('#dt').DataTable(dt_options);
            $.get( "/api/unit/resist_table").done(function(data) { unit_data = data; $('#dt').DataTable().searchPanes.rebuildPane(); });
            $('#loading_spinner').hide();
            $('#content-container').show();
            table.columns.adjust().responsive.recalc();
            table.searchPanes.container().prependTo(table.table().container());
            table.searchPanes.resizePanes();
            table.order([19, 'asc']).draw();
            table.on('draw', function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $('[data-toggle="tooltip"]').tooltip();
            hideSearchPanes(null, table, null, null);
        } );
    </script>
    <form method="get" action="/unit">
        <div class="row pb-2">
            <div class="col col-sm-auto pt-2 align-text-center">
                <label for="master_rank" class="form-label">Master Rank</label>
            </div>
            <div class="col col-sm-auto">
                <select class="form-select" name="master_rank" id="master_rank">
                    {% set ns = namespace(rank=1) %}
                    {% for item in stat_increase_table %}
                    <option value="{{ ns.rank }}"  {% if master_rank|int == ns.rank %}selected="selected" {%endif %}>Master Rank {{ ns.rank }}</option>
                    {% set ns.rank = ns.rank + 1 %}
                    {% endfor %}
                </select>
            </div>
            <div class="col col-sm-auto pt-2 align-text-center">
                <label for="awakening" class="form-label">Awakening</label>
            </div>
            <div class="col col-sm-auto">
                <select class="form-select" type="text" name="awakening" id="awakening">
                    <option value="0" {% if awakening|int == 0 %}selected="selected" {%endif %}>Awakening 0</option>
                    <option value="1" {% if awakening|int == 1 %}selected="selected" {%endif %}>Awakening 1</option>
                    <option value="2" {% if awakening|int == 2 %}selected="selected" {%endif %}>Awakening 2</option>
                    <option value="3" {% if awakening|int == 3 %}selected="selected" {%endif %}>Awakening 3</option>
                    <option value="4" {% if awakening|int == 4 %}selected="selected" {%endif %}>Awakening 4</option>
                    <option value="5" {% if awakening|int == 5 %}selected="selected" {%endif %}>Awakening 5</option>
                </select>
            </div>
            <div class="col col-sm-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width: 100%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Icon</td>
                <td>Rank</td>
                <td>Family</td>
                <td>Role</td>
                <td>Farm</td>
                <td>Gacha</td>
                <td>Battleroad</td>
                <td>Blossom</td>
                <td>C. Builder</td>
                <td>LVL</td>
                <td>HP</td>
                <td>MP</td>
                <td>ATK</td>
                <td>DEF</td>
                <td>AGI</td>
                <td>INT</td>
                <td>MOV</td>
                <td>WEI</td>
                <td>#</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            <tr>
                <td><a href="/unit/{{ unit.id }}">{{ unit.display_name }}</a></td>
                <td><img src="/{{ unit.unit_icon }}" style="width: 64px; height: 80px;" /></td>
                <td>
                    <span style="display: none">
                        {% if unit.unit_rank == 'S' %}
                        1
                        {% else %}
                        {{ unit.unit_rank }}
                        {% endif %}
                    </span>
                    <img src="/{{ unit.unit_rank_icon }}" alt="{{ unit.unit_rank }}" style="width: 64px; height: 64px;" />
                </td>
                <td><span style="display: none">{{ unit.family }}</span><img src="/{{ unit.family_icon }}" alt="{{ unit.family }}" style="width: 64px; height: 64px;" /></td>
                <td><span style="display: none">{{ unit.role }}</span><img src="/{{ unit.role_icon }}" alt="{{ unit.role }}" style="width: 64px; height: 64px;" /></td>
                <td>{{ unit.is_quest_reward }}</td>
                <td>{{ unit.is_gacha_unit }}</td>
                <td>{{ unit.has_battleroad }}</td>
                <td>{{ unit.has_blossom }}</td>
                <td>{{ unit.has_character_builder }}</td>
                <td>{{ unit.stats_by_level[-1:][0].level }}</td>
                <td>
                    {% set ns = namespace(hp=unit.stats_by_level[-1:][0].hp) %}
                    {{ ns.hp }}
                </td>
                <td>
                    {% set ns = namespace(mp=unit.stats_by_level[-1:][0].mp) %}
                    {{ ns.mp }}
                </td>
                <td>
                    {% set ns = namespace(attack=unit.stats_by_level[-1:][0].attack) %}
                    {{ ns.attack }}
                </td>
                <td>
                    {% set ns = namespace(defense=unit.stats_by_level[-1:][0].defense) %}
                    {{ ns.defense }}
                </td>
                <td>
                    {% set ns = namespace(agility=unit.stats_by_level[-1:][0].agility) %}
                    {{ ns.agility }}
                </td>
                <td>
                    {% set ns = namespace(intelligence=unit.stats_by_level[-1:][0].intelligence) %}
                    {{ ns.intelligence }}
                </td>
                <td>{{ unit.move }}</td>
                <td>{{ unit.weight }}</td>
                <td>{{ unit.almanac_number }}</td>
                <td>{{ unit.display_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
