{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            $('#loading_spinner').hide();
            $('#content-container').show();

            $('#unit_select').select2({
                theme: 'bootstrap-5',
                placeholder: 'Select Units',
                closeOnSelect: false,
            });

            $('#stage_select').select2({
                theme: 'bootstrap-5',
                placeholder: 'Select Stage',
                closeOnSelect: true,
            });
        } );
    </script>
    <form method="post" action="/video_guide/save">
        <div class="mb-3">
            <label class="form-label" for="stage_select">Select Stage</label>
            <select class="form-select" id="stage_select" name="stage_select" style="width: 80%">
                <option></option>
                {% for area in stage_structure %}
                {% for stage in stage_structure[area].stages %}
                <option value="{{ stage.stage_id }}">
                    {% if stage_structure[area].area_group_name is defined %}
                    {{ stage_structure[area].area_group_name }} -
                    {% endif %}
                    {{ stage_structure[area].area_name }} - {{ stage.stage_name }}
                </option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="unit_select">Select Units</label>
            <select class="form-select" id="unit_select" name="unit_select" multiple style="width: 80%">
                {% for unit in units %}
                <optgroup label="{{ unit.display_name }}">
                    <option value="{{ unit.id }}_A0">{{ unit.display_name }}_A0</option>
                    <option value="{{ unit.id }}_A1">{{ unit.display_name }}_A1</option>
                    <option value="{{ unit.id }}_A2">{{ unit.display_name }}_A2</option>
                    <option value="{{ unit.id }}_A3">{{ unit.display_name }}_A3</option>
                    <option value="{{ unit.id }}_A4">{{ unit.display_name }}_A4</option>
                    <option value="{{ unit.id }}_A5">{{ unit.display_name }}_A5</option>
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="video_link">Video Link</label>
            <input class="form-control" type="text" placeholder="Video Link" aria-label="Video Link" id="video_link" name="video_link" style="width: 80%">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%;">
        <thead>
            <tr>
                <td>Stage</td>
                <td>Units</td>
                <td>Video</td>
            </tr>
        </thead>
        <tbody>
            {% for guide in guides %}
            <tr>
                <td>{{ guide.stage_name }}</td>
                <td>
                    <div class="row">
                        {% for unit in guide.units %}
                        <div class="col col-sm-auto d-flex align-items-end me-3" style="background-image: url('/{{ unit.unit_rank_background }}'); position: relative; width: 104px; height: 128px;">
                            {% if unit.awakening_icon != None %}
                            <span style="position: absolute; z-index: 99999;"><img src='/{{ unit.awakening_icon }}' /></span>
                            {% endif %}
                            <img src="/{{ unit.unit_icon }}" style="width: 90px; height: 118px; position: relative; right: 5px; top: -5px;" />
                        </div>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <iframe width="300" height="150" src="https://www.youtube.com/embed/{{ guide.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'footer.html' %}
