{% include 'header.html' %}

    <script>
        $(document).ready( function () {
            var dt = $('#dt').DataTable(dt_options);
            $('#loading_spinner').hide();
            $('#content-container').show();
            dt.columns.adjust().responsive.recalc().draw();

            $('#unit_select').select2({
                theme: 'bootstrap-5',
                placeholder: 'Select Units',
                closeOnSelect: false,
                tags: true,
                allowClear: true,
            });

            $('#stage_select').select2({
                theme: 'bootstrap-5',
                placeholder: 'Select Stage',
                closeOnSelect: true,
            });

            // On select, place the selected item in order
            $("#unit_select").on("select2:select", function (evt) {
                var element = evt.params.data.element;
                var $element = $(element);

                window.setTimeout(function () {  
                if ($("#unit_select").find(":selected").length > 1) {
                    var $second = $("#unit_select").find(":selected").eq(-2);
                    $element.detach();
                    $second.after($element);
                } 
                else {
                    $element.detach();
                    $("#unit_select").prepend($element);
                }

                $("#unit_select").trigger("change");
                }, 1);
            });

            // on unselect, put the selected item last
            $("select").on("select2:unselect", function (evt) {
                var element = evt.params.data.element;
                $("#unit_select").append(element);
            });
        } );

        function submitGuideForm() {
            $.ajax({
                type: 'POST',
                url: '/video_guide/save',
                data: $('#guide_form').serialize(),
            }).done(function(data) {
                console.log(data);
                const toastElement = document.getElementById('successToast');
                const toastObject = bootstrap.Toast.getOrCreateInstance(toastElement);
                $('#video_link').val('');
                $("#unit_select").val(null).trigger('change');
                toastObject.show();
            }).fail(function(xhr, status, error) {
                console.log(xhr.responseText);
                const toastElement = document.getElementById('failureToast');
                const toastObject = bootstrap.Toast.getOrCreateInstance(toastElement);
                toastObject.show();
            });
        }

        function deleteGuide(guide_id) {
            $.ajax({
                type: 'POST',
                url: '/video_guide/delete',
                data: {
                    'guide_id': guide_id,
                },
            }).done(function(data) {
                console.log(data);
                const toastElement = document.getElementById('successToast');
                const toastObject = bootstrap.Toast.getOrCreateInstance(toastElement);
                toastObject.show();
            }).fail(function(xhr, status, error) {
                console.log(xhr.responseText);
                const toastElement = document.getElementById('failureToast');
                const toastObject = bootstrap.Toast.getOrCreateInstance(toastElement);
                toastObject.show();
            });
        }
    </script>
    <form id="guide_form">
        <div class="mb-3">
            <label class="form-label" for="stage_select">Select Stage</label>
            <select class="form-select" id="stage_select" name="stage_select" style="width: 80%">
                <option></option>
                {% for area in stage_structure %}
                {% for stage in stage_structure[area].stages %}
                <option value="{{ stage.stage_id }}">
                    {% if stage_structure[area].area_group_name is defined %}
                    {{ stage_structure[area].area_group_name }} -
                    {% endif %}
                    {{ stage_structure[area].area_name }} - {{ stage.stage_name }}
                </option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="unit_select">Select Units</label>
            <select class="form-select" id="unit_select" name="unit_select" multiple style="width: 80%">
                {% for unit in units %}
                <optgroup label="{{ unit.display_name }}">
                    <option value="{{ unit.id }}_A0">{{ unit.display_name }}_A0</option>
                    <option value="{{ unit.id }}_A1">{{ unit.display_name }}_A1</option>
                    <option value="{{ unit.id }}_A2">{{ unit.display_name }}_A2</option>
                    <option value="{{ unit.id }}_A3">{{ unit.display_name }}_A3</option>
                    <option value="{{ unit.id }}_A4">{{ unit.display_name }}_A4</option>
                    <option value="{{ unit.id }}_A5">{{ unit.display_name }}_A5</option>
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="video_link">Video Link</label>
            <input class="form-control" type="text" placeholder="Video Link" aria-label="Video Link" id="video_link" name="video_link" style="width: 80%">
        </div>

        <button type="button" onclick="submitGuideForm()" class="btn btn-primary">Submit</button>
    </form>

    <table id="dt" class="table table-striped table-hover table-bordered align-middle" style="width:100%;">
        <thead>
            <tr>
                <td>Stage</td>
                <td>Units</td>
                <td>Video</td>
            </tr>
        </thead>
        <tbody>
            {% for guide in guides %}
            <tr>
                <td>{{ guide.stage_name }}</td>
                <td>
                    <div class="row">
                        {% for unit in guide.units %}
                        <div class="col col-sm-auto d-flex align-items-end me-3" style="background-image: url('/{{ unit.unit_rank_background }}'); position: relative; width: 104px; height: 128px;">
                            {% if unit.awakening_icon != None %}
                            <span style="position: absolute; z-index: 99999;"><img src='/{{ unit.awakening_icon }}' /></span>
                            {% endif %}
                            <img src="/{{ unit.unit_icon }}" style="width: 90px; height: 118px; position: relative; right: 5px; top: -5px;" />
                        </div>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <iframe width="300" height="150" src="https://www.youtube.com/embed/{{ guide.video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <br />
                    <button type="button" onclick="deleteGuide('{{ guide.guide_id }}')" class="btn btn-primary">Delete Guide</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="successToast" class="toast align-items-center text-bg-primary border-0 position-absolute top-0 start-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body">
            Saved guide.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <div id="failureToast" class="toast align-items-center text-bg-danger border-0 position-absolute top-0 start-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body">
            Failed to save guide.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

{% include 'footer.html' %}
